<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to La Boulangerie de Genevieve, where every loaf tells a story and every pastry brings joy to your palate. Established in 2023 by Laurie, our bakery is a homage to her daughter, Genevieve, whose love for baking inspired this quaint haven of culinary delights nestled in the heart of Shreveport, Louisiana.</p>
      </div>
      <div class="col-lg-4">
        <p>At La Boulangerie de Genevieve, we believe in the artistry of traditional French baking techniques coupled with the warmth of Southern hospitality. Our journey began with a simple desire to share our passion for exquisite pastries and artisanal bread with the community.</p>
      </div>
    </div>
  </div>
</section>
