<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <p>At La Boulangerie de Genevieve, we believe in the artistry of traditional 
          French baking techniques coupled with the warmth of Southern hospitality. 
          Our journey began with a simple desire to share our passion for exquisite pastries 
          and artisanal bread with the community. </p>
      </div>
    </div>
  </div>
</section>
